<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<JDBC name="databaseAppender" tableName="crc_schema.tservice_events">
			<DataSource jndiName="java:/PostgresDS" />
			<Column name="event_date" isEventTimestamp="true" isUnicode="false" />
			<Column name="level" pattern="%level" isUnicode="false" />
			<Column name="logger" pattern="%c{1}" isUnicode="false" />
			<Column name="message" pattern="%message" isUnicode="false" />
			<Column name="details" pattern="%xEx{short}" isUnicode="false" />
<!-- 	<Column name="crc_id" pattern="%X{crc_id}" isUnicode="false" />
 -->		</JDBC>
	</Appenders>
	<Loggers>
		<logger name="com" level="WARN" additivity="false">
			<AppenderRef ref="databaseAppender" />
		</logger>
		<logger name="com.vvamir.ws" additivity="false">
			<AppenderRef ref="databaseAppender" />
		</logger>
	</Loggers>
</Configuration>